{% if paginator.total_pages > 1 %}
<!-- begin pagination -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <nav class="pagination">
        <div class="pagination__inner">

          <div class="pagination__list">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev pagination__item"><ion-icon name="arrow-back"></ion-icon> Prev</a>
            {% else %}
              <span class="pagination__prev pagination__item disabled"><ion-icon name="arrow-back"></ion-icon> Prev</span>
            {% endif %}

            <div class="pagination__count pagination__item">Page {{ paginator.page }} of {{paginator.total_pages}}</div>

            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next pagination__item">Next <ion-icon name="arrow-forward"></ion-icon></a>
            {% else %}
              <span class="pagination__next pagination__item disabled">Next <ion-icon name="arrow-forward"></ion-icon></span>
            {% endif %}
          </div>

        </div>
      </nav>
    </div>
  </div>
</div>
<!-- end pagination -->
{% endif %}